src/test/resources/mongo-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Mongo Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<!--

  This file was automatically generated by the Mule Cloud Connector
  Development Kit
-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">

    <mongo:config name="mongoConfig" username="fede" password="123" />

    <spring:bean id="myDbObject" class="com.mongodb.BasicDBObject"/>

    <flow name="CreateCollection">
        <mongo:create-collection config-ref="mongoConfig" collection="aCollection" capped="true"/>
    </flow>

    <flow name="ListCollections">
        <mongo:list-collections config-ref="mongoConfig"/>
    </flow>

    <flow name="ExistsCollection">
        <mongo:exists-collection config-ref="mongoConfig" collection="aColllection"/>
    </flow>

    <flow name="DropCollection">
        <mongo:drop-collection config-ref="mongoConfig" collection="aCollection"/>
    </flow>

    <flow name="InsertObject">
        <mongo:insert-object config-ref="mongoConfig" collection="Employees" writeConcern="SAFE" dbObject-ref="#[payload]"/>
    </flow>


    <flow name="CreateIndex">
        <mongo:create-index config-ref="mongoConfig" collection="myCollection" field="myField" order="DESC"/>
    </flow>

    <flow name="DropIndex">
        <mongo:drop-index config-ref="mongoConfig" collection="myCollection" index="#[map-payload:anIndexName]"/>
    </flow>

    <flow name="ListIndices">
        <mongo:list-indices config-ref="mongoConfig" collection="myCollection"/>
    </flow>

    <flow name="UpdateObject">
        <mongo:update-objects config-ref="mongoConfig" collection="#[map-payload:aCollectionName]" query-ref="myDbObject"
                              element-ref="myDbObject" upsert="true"/>
    </flow>

    <flow name="SaveObject">
        <mongo:save-object config-ref="mongoConfig" collection="#[map-payload:aCollectionName]" element-ref="myDbObject"/>
    </flow>

    <flow name="RemoveObjects">
        <mongo:remove-objects config-ref="mongoConfig" collection="#[map-payload:aCollectionName]" query-ref="myDbObject"/>
    </flow>

    <flow name="MapReduceObjects">
        <mongo:map-reduce-objects config-ref="mongoConfig" collection="myCollection" mapFunction="#[header:aJSMapFunction]"
                                  reduceFunction="#[header:aJSFoldFunction]"/>
    </flow>

    <flow name="CountObjects">
        <mongo:count-objects config-ref="mongoConfig" collection="#[variable:aCollectionName]" query-ref="myDbObject"/>
    </flow>

    <flow name="FindObjects">
        <mongo:find-objects config-ref="mongoConfig" collection="myCollection" query-ref="myDbObject">
            <mongo:fields>
                <mongo:field>field1</mongo:field>
                <mongo:field>field2</mongo:field>
            </mongo:fields>
        </mongo:find-objects>
    </flow>

    <flow name="FindOneObject">
        <mongo:find-one-object config-ref="mongoConfig" collection="myCollection" query-ref="myDbObject">
            <mongo:fields>
                <mongo:field>field1</mongo:field>
                <mongo:field>field2</mongo:field>
            </mongo:fields>
        </mongo:find-one-object>
    </flow>

    <flow name="FindOneObjectUsingQueryMap">
        <mongo:find-one-object-using-query-map config-ref="mongoConfig" collection="myCollection">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:find-one-object-using-query-map>
    </flow>
    <flow name="FindOneObjectFieldsList">
        <mongo:find-one-object config-ref="mongoConfig" collection="myCollection" query-ref="myDbObject">
            <mongo:fields>
                <mongo:field>aField</mongo:field>
                <mongo:field>anotherField</mongo:field>
            </mongo:fields>
        </mongo:find-one-object>
    </flow>


    <flow name="UpdateObjectAsMap">
        <mongo:update-objects-using-map config-ref="mongoConfig" collection="#[map-payload:aCollectionName]" upsert="true">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query-attributes>
            <mongo:element-attributes>
                <mongo:element-attribute key="foo">bar</mongo:element-attribute>
                <mongo:element-attribute key="foobar">baz</mongo:element-attribute>
            </mongo:element-attributes>
        </mongo:update-objects-using-map>
    </flow>
    
    <flow name="UpdateObjectsUsingQueryMap">
    	<mongo:update-objects-using-query-map config-ref="mongoConfig" collection="#[map-payload:aCollectionName]" upsert="true" element-ref="#[map-payload:element]">
    		<mongo:query-attributes>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query-attributes>
    	</mongo:update-objects-using-query-map>
    </flow>

	<flow name="UpdateObjectsByFunction">
		<mongo:update-objects-by-function config-ref="mongoConfig" collection="#[map-payload:aCollectionName]" upsert="true" query-ref="#[map-payload:query]" element-ref="#[map-payload:element]" multi="false" function="$set" />
	</flow>
	
	<flow name="UpdateObjectsByFunctionUsingMap">
		<mongo:update-objects-by-function-using-map config-ref="mongoConfig" collection="#[map-payload:aCollectionName]" upsert="true" multi="false" function="$set">
			<mongo:query-attributes>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query-attributes>
			<mongo:element-attributes>
                <mongo:element-attribute key="foo">bar</mongo:element-attribute>
                <mongo:element-attribute key="foobar">baz</mongo:element-attribute>
            </mongo:element-attributes>
		</mongo:update-objects-by-function-using-map>
	</flow>

    <flow name="InsertObjectAsMap">
        <mongo:insert-object-from-map config-ref="mongoConfig" collection="Employees" writeConcern="SAFE">
            <mongo:element-attributes>
                <mongo:element-attribute key="foo">bar</mongo:element-attribute>
                <mongo:element-attribute key="foobar">baz</mongo:element-attribute>
            </mongo:element-attributes>
        </mongo:insert-object-from-map>
    </flow>

    <flow name="CreateFile">
        <mongo:create-file-from-payload config-ref="mongoConfig" filename="#[variable:filename]" metadata-ref="myDbObject"/>
    </flow>

    <flow name="ListFiles">
        <mongo:list-files config-ref="mongoConfig" query-ref="myDbObject"/>
    </flow>

    <flow name="ListFilesUsingQueryMap">
        <mongo:list-files-using-query-map config-ref="mongoConfig" username="1" password="1">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:list-files-using-query-map>
    </flow>

    <flow name="RemoveFiles">
        <mongo:remove-files config-ref="mongoConfig" query-ref="myDbObject"/>
    </flow>

    <flow name="RemoveFilesUsingQueryMap">
        <mongo:remove-files-using-query-map config-ref="mongoConfig">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:remove-files-using-query-map>
    </flow>

    <flow name="FindFiles">
        <mongo:find-files config-ref="mongoConfig" query-ref="myDbObject"/>
    </flow>

    <flow name="FindFilesUsingQueryMap">
        <mongo:find-files-using-query-map config-ref="mongoConfig">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
                <mongo:query-attribute key="foos">bars</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:find-files-using-query-map>
    </flow>

    <flow name="FindOneFile">
        <mongo:find-one-file config-ref="mongoConfig" query-ref="myDbObject"/>
    </flow>

    <flow name="FindOneFileUsing">
        <mongo:find-one-file-using-query-map config-ref="mongoConfig">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
                <mongo:query-attribute key="foos">bars</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:find-one-file-using-query-map>
    </flow>

    <flow name="GetFileContent">
        <mongo:get-file-content config-ref="mongoConfig" query-ref="myDbObject"/>
    </flow>

    <flow name="GetFileContentUsingQueryMap">
        <mongo:get-file-content-using-query-map config-ref="mongoConfig">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
                <mongo:query-attribute key="foos">bars</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:get-file-content-using-query-map>
    </flow>

    <flow name="FindOneFileUsingQueryMap">
        <mongo:find-one-file-using-query-map config-ref="mongoConfig">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
                <mongo:query-attribute key="foos">bars</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:find-one-file-using-query-map>
    </flow>

    <flow name="SaveObjectFromMap">
        <mongo:save-object-from-map config-ref="mongoConfig" collection="myCollection">
            <mongo:element-attributes>
                <mongo:element-attribute key="foo">bar</mongo:element-attribute>
                <mongo:element-attribute key="foobar">baz</mongo:element-attribute>
            </mongo:element-attributes>
        </mongo:save-object-from-map>
    </flow>

    <flow name="RemoveUsingQueryMap">
        <mongo:remove-objects-using-query-map config-ref="mongoConfig" collection="myCollection">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
                <mongo:query-attribute key="foobar">baz</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:remove-objects-using-query-map>
    </flow>
    
    

    <flow name="jsonToDbobject">
        <mongo:json-to-dbobject />
    </flow>

    <flow name="dbobjectToJson">
        <mongo:dbobject-to-json />
    </flow>

    <flow name="bsonListToJson">
        <mongo:bson-list-to-json />
    </flow>

    <flow name="dbObjectToMap">
        <mongo:db-object-to-map />
    </flow>
</mule>
